@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/helpers';

.gridblock {
  display: grid;
}
@for $i from 1 through 6 {
  .xs-#{$i} {
    grid-template-columns: repeat($i, 1fr);
    gap: var(--space-md);
  }
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(device-small) {
}

@include responsive(display-small) {
  @for $i from 1 through 6 {
    .sm-#{$i} {
      grid-template-columns: repeat($i, 1fr);
      gap: var(--space-md);
    }
  }
}

@include responsive(display-medium) {
  @for $i from 1 through 6 {
    .md-#{$i} {
      grid-template-columns: repeat($i, 1fr);
      gap: var(--space-md);
    }
  }
}

@include responsive(display-large) {
  @for $i from 1 through 6 {
    .lg-#{$i} {
      grid-template-columns: repeat($i, 1fr);
      gap: var(--space-md);
    }
  }
}

@include responsive(extra-large) {
  @for $i from 1 through 6 {
    .xl-#{$i} {
      grid-template-columns: repeat($i, 1fr);
      gap: var(--space-md);
    }
  }
}
