@use '../../assets/sass/functions' as f;

.section {
  &_basic,
  &_odd {
    padding: f.rem(32) f.rem(20);
  }
  &_odd {
    background-color: var(--light-opacity);
  }

  &_no_margin {
    padding: 0 f.rem(20);
  }
}
