@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/helpers';

%card {
  padding: 0.5rem;
  background-color: var(--lightfull);
  box-shadow: 0 1px 10px 1px hsla(220, 14%, 15%, 0.15);
  border-radius: 5px;
}

%removecard {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
}

.product {
  @include flex(stretch, flex-start);
  flex-direction: column;
  margin-bottom: var(--space-xs);
  cursor: pointer;

  &_info {
    flex: 1;
    width: 100%;
    @include flex(stretch, space-between);
    flex-direction: column;

    & > div:first-child {
      // flex: 1;
    }
  }

  &__image {
    display: block;
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all ease var(--trs);
    }
  }

  &__title {
    font-size: clamp(14px, 4vw, 16px);
    margin-top: 0.5rem;
    font-weight: 500;
    line-height: 1.3em;
  }

  &__price {
    font-size: clamp(16px, 5vw, 18px);
  }

  &_footer {
    @include flex(space-between, center);
  }

  .add_icon {
    display: none;
  }
}

.horizontal {
  flex-direction: row;
  @extend %card;
  gap: var(--space-sm);

  .product__image {
    width: clamp(20%, 100px, 35%);
    aspect-ratio: none;
    height: 100%;
  }

  .add_icon {
    display: block;
  }
}

.add_icon {
  position: relative;
  padding: 5px;
  background-color: var(--orange);
  color: var(--light);
  border-radius: 50%;
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(device-small) {
}

@include responsive(display-small) {
}

@include responsive(display-medium) {
  .product {
    &__image {
      aspect-ratio: 5/3;
      filter: saturate(0.4);
      &:hover {
        filter: saturate(1);
      }

      @at-root .product:hover & > img {
        transform: scale(1.1);
      }
    }
  }
}

@include responsive(display-large) {
}

@include responsive(extra-large) {
}
