@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/helpers';

// HERO
.hero {
  @include flex(flex-start, flex-end);
  width: 100vw;
  height: 60vh;
  padding: 0 1.25rem;
  background-image: linear-gradient(hsla(26, 86%, 48%, 0.3), hsl(220, 13%, 13%, 0.8)),
    url('../../assets/images/hero/hero_bg_shoes_2.jpg');
  background-position: 50% 125%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 110vh;

  &_wrapper {
    @extend .wrapper;
    position: relative;
    width: 100%;
    margin-bottom: 10vh;
    font-family: var(--font-title);

    container-type: inline-size;
  }

  &__detail {
    font-size: 0.75rem;
    font-size: clamp(15px, 4vw, 18px);
    color: var(--orange);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.28px;
  }

  &__title {
    font-size: 45px;
    font-size: clamp(2.1875rem, 11vw, 4.0625rem);
    max-width: 36.25rem;
    line-height: 1em;
    color: var(--blue-grayish-light);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.28px;
  }

  &__subtext {
    margin-top: 0.4em;
    font-size: 0.9375rem;
    font-size: clamp(1rem, 4vw, 1.4375rem);
    font-weight: 300;
    color: var(--blue-grayish-light);
    letter-spacing: 1.28px;
  }
}

.basic_section {
  padding: 0 1.25rem;
}

.grid_layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(phone-large) {
}

@include responsive(tablet) {
}

@include responsive(display-low) {
  .grid_layout {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include responsive(display-mid) {
  .hero {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background-size: cover;
  }
}

@include responsive(display-large) {
}
