@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/helpers';

// HERO
.hero {
  @include flex(flex-start, flex-end);
  width: 100vw;
  height: 550px;
  max-height: 80vh;
  padding: 0 1.25rem;
  background-image: linear-gradient(hsla(26, 86%, 48%, 0.3), hsl(220, 13%, 13%, 0.8)),
    url('../../assets/images/hero/hero_bg_shoes_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 110vh;

  &_wrapper {
    @extend .wrapper;
    position: relative;
    width: 100%;
    margin-bottom: 10vh;
    font-family: var(--font-title);

    container-type: inline-size;
  }

  &__detail {
    font-size: 0.75rem;
    font-size: clamp(15px, 4vw, 18px);
    color: var(--orange);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.28px;
  }

  &__title {
    font-size: 45px;
    font-size: clamp(2.1875rem, 11vw, 4.0625rem);
    max-width: 36.25rem;
    line-height: 1em;
    color: var(--light);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.28px;
  }

  &__subtext {
    margin-top: 0.4em;
    font-size: 0.9375rem;
    font-size: clamp(1rem, 4vw, 1.4375rem);
    font-weight: 300;
    color: var(--light);
    letter-spacing: 1.28px;
  }
}

%grid {
  display: grid;
  gap: 1rem;
}

.grid_layout {
  @extend %grid;
  grid-template-columns: repeat(2, 1fr);
}

.home_cta {
  &_grid {
    @extend %grid;
    grid-template-columns: 1fr;
  }

  &__item {
    position: relative;
    padding: 1.5rem 1rem;
    color: var(--light);
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;

    // FIRST Item
    &:first-child {
    }
    &:first-child::before {
      position: absolute;
      content: '';
      inset: 0;
      background-image: linear-gradient(
          to bottom right,
          hsla(0, 0%, 0%, 0.75),
          hsla(220, 13%, 13%, 0.5)
        ),
        url('https://api.lorem.space/image/watch?w=640&h=480&r=101');
      background-position: center;
      background-repeat: no-repeat;
      transition: all ease var(--trs-fast);
      z-index: -1;
    }

    &:first-child:hover::before,
    &:last-child:hover::before {
      filter: blur(1px);
      -webkit-filter: blur(1px);
      transform: scale(1.1);
    }

    // LAST Item
    &:last-child {
      position: relative;
      overflow: hidden;
    }
    &:last-child::before {
      position: absolute;
      content: '';
      inset: 0;
      background-image: linear-gradient(
          to bottom right,
          hsla(26, 86%, 48%, 0.9),
          hsla(0, 0%, 0%, 0.75)
        ),
        url('https://api.lorem.space/image/furniture?w=640&h=480&r=7110');
      background-position: center;
      background-repeat: no-repeat;
      transition: all ease var(--trs-fast);
      z-index: -1;
    }
  }
}

.bestseller {
  // &_grid {
  //   @extend %grid;
  //   grid-template-columns: repeat(2, 1fr);
  // }

  &__item {
    &:nth-child(-n + 2) {
      grid-column: span 2;
      figure {
        aspect-ratio: 2 / 1 !important;
      }
    }
  }
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(device-small) {
}

@include responsive(display-small) {
  .home_cta_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  // .bestseller_grid {
  //   grid-template-columns: repeat(4, 1fr);
  // }
}

@include responsive(display-medium) {
  .grid_layout {
    grid-template-columns: repeat(4, 1fr);
  }
  // .bestseller_grid {
  //   grid-template-columns: repeat(3, 1fr);
  // }
  .bestseller__item,
  .bestseller__item:nth-child(-n + 2) {
    grid-column: span 1;
    figure {
      aspect-ratio: 2/1;
    }
  }
}

@include responsive(display-large) {
  .hero {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background-size: cover;
    height: 80vh;
    max-height: unset;
  }
}

@include responsive(extra-large) {
}
