@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/helpers.scss';

.cart_icon_container {
  position: relative;
  width: 1.563rem;
  height: 1.563rem;
  color: var(--white);
}

.cart_icon_svg {
  cursor: pointer;
  & path {
    fill: var(--blue-grayish-dark);
    transition: fill 250ms ease-out;
  }

  &:hover path {
    fill: var(--orange);
  }
}

.cart_icon_count {
  position: absolute;
  inset: -0.35rem auto auto 40%;
  @include flex(center, center);
  min-width: 1.0625rem;
  height: 1.0625rem;
  padding: 0.125rem 0.3rem 0.11rem;
  background-color: var(--orange);
  border-radius: 50%;
  color: var(--white) !important;
  font: 0.625rem/1em var(--font-default);
  font-weight: 700;
  pointer-events: none;
}
