.header {
  width: 100%;
  padding: 0 1rem;
}

.header_container {
  composes: wrapper from '/src/index.css';

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
  border-bottom: 1px solid var(--blue-grayish-opacity);
}

.header_logo_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.6875rem;
  margin-right: 5%; 
  cursor: pointer;
}

/* Text logo */
.header_logo {
  position: relative;
  composes: not_clicable from '/src/index.css';
  
  font-family: var(--font-title);
  font-size: clamp(1.7rem, 1.8rem, 1.95rem);
  letter-spacing: -.1rem;
  line-height: 1em;
  color: var(--black);
  transition: all 250ms ease-in;
}

.header_logo > strong {
  position: relative;
  display: inline-block;
  transition: all 250ms ease-in;
  z-index: 91;
}

.header_logo > strong::before {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--orange);
  color: var(--white);
  overflow: hidden;
  transition: all 200ms ease-in;
  z-index: 90;
}

/* .header_logo_container:hover .header_logo > strong {
  color: var(--white);
} */

.header_logo_container:hover .header_logo > strong::before {
  width: 104%;
}

.header_menu {
  flex: 1;
  padding-top: 0.5rem;
}

.header_actions {
  composes: flex_Jend_Acenter from '/src/index.css';
  gap: 2rem;
}

.header_actions__profile {
  position: relative;
  top: -0.25rem;
  width: 3.125rem;
  height: 3.125rem;
  transition: outline 0.2s ease-in;
  outline: 2px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.header_actions__profile:hover {
  outline-color: var(--orange);
}

.header_actions__profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_actions__cart {
  position: relative;
  composes: flex_Jcenter_Acenter from '/src/index.css';
  width: 2.813rem;
  height: 2.813rem;
}
