.header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--blue-grayish-opacity);
}

.header_container {
  composes: wrapper from '/src/index.css';

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header_logo_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5%; 
  cursor: pointer;
}

/* Text logo */
.header_logo {
  position: relative;
  composes: not_clicable from '/src/index.css';
  
  font-family: var(--font-title);
  font-size: clamp(1.7rem, 1.8rem, 1.95rem);
  letter-spacing: -.1rem;
  line-height: 1em;
  transition: all 250ms ease-in;
}

.header_logo > strong {
  position: relative;
  display: inline-block;
  transition: all 250ms ease-in;
  color: var(--orange);
  z-index: 91;
}

.header_logo > strong::before {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--orange);
  color: var(--white);
  overflow: hidden;
  transition: all 200ms ease-in;
  z-index: 90;
}

/* .header_logo_container:hover .header_logo > strong {
  color: var(--white);
} */

.header_logo_container:hover .header_logo > strong::before {
  width: 104%;
}

.header_menu {
  flex: 1;
}

.header_actions {
  composes: flex_Jend_Acenter from '/src/index.css';
  gap: 1.5rem;
}

.header_actions__cart,
.header_actions__search {
  position: relative;
  composes: flex_Jcenter_Acenter from '/src/index.css';
  padding: 0.5rem;
  cursor: pointer;
}

.header_actions__search span {
  color: var(--blue-grayish-dark);
  transition: color 250ms ease-out;
}

.header_actions__search:hover span {
  color: var(--black);
}