@use '../../assets/sass/helpers.scss';
@import '../../assets/sass/mixins.scss';

.header {
  position: fixed;
  inset: 0 0 auto;
  width: 100vw;
  padding: 0.4rem 0.5rem;
  background-color: var(--light);
  border-bottom: 1px solid var(--blue-grayish-opacity);
  z-index: 200;
}

.header_wrapper {
  @extend .wrapper;

  display: grid;
  grid-template-columns: 3.75rem auto min-content;
  grid-template-areas: 'menu logo actions';
}

.header_logo_container {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 5%;
  cursor: pointer;
}

/* Text logo */
.header_logo {
  position: relative;
  @extend .not_clicable;

  font-family: var(--font-title);
  font-size: clamp(1.7rem, 1.8rem, 1.95rem);
  letter-spacing: -0.1rem;
  line-height: 1em;
  transition: all 250ms ease-in;

  & > strong {
    position: relative;
    display: inline-block;
    transition: all 250ms ease-in;
    color: var(--orange);
    z-index: 91;

    &::before {
      position: absolute;
      content: attr(data-text);
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--orange);
      color: var(--light);
      overflow: hidden;
      transition: all 200ms ease-in;
      z-index: 90;
    }
  }

  &:hover > strong::before {
    width: 104%;
  }
}

.header_actions {
  grid-area: actions;
  @include flex(flex-end, center);

  gap: 0.5rem;

  &__cart,
  &__search {
    position: relative;
    @include flex(center, center);

    padding: 0.3rem;
    cursor: pointer;
  }

  &__search span {
    color: var(--grayish-darker);
    transition: color 250ms ease-out;
  }

  &__cart:hover span,
  &__search:hover span {
    color: var(--orange);
  }
}

.header_menu_icon {
  grid-area: menu;
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(display-medium) {
  .header {
    padding: 0.2rem 1rem 0;
  }

  .header_wrapper {
    grid-template-columns: minmax(110px, 150px) auto min-content;
    grid-template-areas: 'logo menu actions';
  }

  .header_menu {
    flex: 1;
    nav {
      right: unset;
    }
  }

  .header_actions__cart,
  .header_actions__search {
    padding: 0.5rem;
  }
}
