@use '../../assets/sass/helpers.scss';
@import '../../assets/sass/mixins.scss';

.footer {
  padding: 2.5rem 1.5rem 3rem;
  background-color: var(--grayish-darker);
  color: var(--grayish-light);

  &_wrapper {
    @extend .wrapper;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg);
  }

  &_section {
  }
  &_section:first-child {
    grid-column: span 2;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  & p:first-of-type {
    padding: var(--space-sm) 0;
  }
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(phone-large) {
  .footer {
    &_grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@include responsive(tablet) {
  .footer {
    &_grid {
      gap: var(--space-xl);
    }
  }
}

@include responsive(display-low) {
  .footer {
    &_grid {
      grid-template-columns: repeat(3, 1fr);
    }
    &_section:first-child {
      grid-column: span 1;
    }
    & p:first-of-type {
      max-width: 21.875rem;
    }
  }
}

@include responsive(display-mid) {
}

@include responsive(display-large) {
}
