@use '../../assets/sass/functions' as f;
@import '../../assets/sass/mixins.scss';

.footer {
  padding: f.rem(40) f.rem(24) f.rem(48);
  background-color: var(--grayish-darker);
  color: var(--grayish-light);

  &_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg);
  }

  &_section:first-child {
    grid-column: span 2;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  & p:first-of-type {
    padding: var(--space-sm) 0;
  }
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(device-small) {
}

@include responsive(display-small) {
  .footer {
    &_grid {
      gap: var(--space-xl);
    }
  }
}

@include responsive(display-medium) {
  .footer {
    &_grid {
      grid-template-columns: repeat(3, 1fr);
    }
    &_section:first-child {
      grid-column: span 1;
    }
    & p:first-of-type {
      max-width: 21.875rem;
    }
  }
}

@include responsive(display-large) {
}

@include responsive(extra-large) {
}
