@use '../../assets/sass/functions' as f;
@import '../../assets/sass/mixins.scss';

.section_header {
  @include flex(center, center);
  flex-direction: column;
  position: relative;
  padding: f.rem(24) 0;
  color: var(--grayish-darker);
  container-type: inline-size;

  &_odd {
    color: var(--grayish-lighter);
  }

  &__title {
    font-size: clamp(f.rem(30), 10vw, f.rem(50));
    line-height: 1.2em;
    text-transform: lowercase;
    text-align: center;
  }

  &__subtext {
    font-size: clamp(f.rem(16px), 5vw, f.rem(20));
    font-weight: 600;
    text-transform: uppercase;
  }

  &::before {
    position: absolute;
    content: attr(data-text);
    top: 58%;
    left: 50%;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: inherit;
    font-size: clamp(f.rem(20), 12vw, f.rem(100));
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;

    opacity: 0.15;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(device-small) {
  .section_header {
    &::before {
      top: 66%;
    }
  }
}

@include responsive(display-small) {
}

@include responsive(display-medium) {
  .section_header {
    padding: f.rem(64) 0;
    &::before {
      top: 51%;
    }
    &__title {
      font-size: clamp(f.rem(30), 8vw, f.rem(45));
    }
    &__subtext {
      font-size: clamp(f.rem(16), 4vw, f.rem(18));
    }
  }
}

@include responsive(display-large) {
  .section_header {
    padding: 4rem 0;
    &::before {
      font-size: clamp(f.rem(20), 12vw, f.rem(120));
    }
  }
}

@include responsive(extra-large) {
}
