@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/helpers';

.grid_with_filter {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
}

.products_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
}

/*=============================================================================
  Responsive Styles
=============================================================================*/
@include responsive(phone-large) {
}

@include responsive(tablet) {
  .grid_with_filter {
    grid-template-columns: minmax(150px, 200px) 1fr;
    gap: var(--space-lg);
  }
}

@include responsive(display-low) {
  .grid_with_filter {
    grid-template-columns: minmax(200px, 300px) 1fr;
    gap: var(--space-lg);
  }

  .products_list {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);
  }
}

@include responsive(display-mid) {
  .grid_with_filter {
    grid-template-columns: minmax(200px, 300px) 1fr;
    gap: var(--space-lg);
  }

  .products_list {
    grid-template-columns: repeat(auto-fill ,minmax(200px, 1fr));
    gap: var(--space-md);
  }
}

@include responsive(display-large) {
}
