:root {
  /*************************************************
   COLOR SETTINGS
  *************************************************/
  /* Orange */
  --orange-darker: hsl(24, 80%, 41%);
  --orange-dark: hsl(24, 80%, 50%);
  --orange: hsl(24, 80%, 59%);
  --orange-light: hsl(24, 80%, 68%);
  --orange-lighter: hsl(24, 80%, 77%);

  /* Blue */
  --blue-darker: hsl(208, 80%, 23%);
  --blue-dark: hsl(208, 80%, 32%);
  --blue: hsl(208, 80%, 41%);
  --blue-light: hsl(208, 80%, 50%);
  --blue-lighter: hsl(208, 80%, 59%);

  /* Grayish */
  --grayish-darker: hsl(220, 14%, 24%);
  --grayish-dark: hsl(220, 14%, 33%);
  --grayish: hsl(220, 14%, 51%);
  --grayish-light: hsl(220, 14%, 69%);
  --grayish-lighter: hsl(220, 14%, 82%);

  /* Neutral */
  --light-opacity: hsla(220, 14%, 98%, 0.5);
  --lightfull: hsl(0, 0%, 100%);
  --light: hsl(220, 14%, 98%);
  --dark: hsl(220, 14%, 15%);
  --darkfull: hsl(0, 0%, 15%);
  --black-opacity: hsla(220, 14%, 15%, 0.75);

  /*************************************************
   FONT SETTINGS
  *************************************************/
  --font-default: 'Kumbh Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-title: 'Kanit', Avenir, sans-serif;
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*************************************************
   GENERAL SETTINGS
  *************************************************/
  /* Animations */
  --trs-fast: 200ms;
  --trs: 350ms;

  /* Sizes */
  --space-unit: 16px;
  --space-xxs: calc(0.25 * var(--space-unit)); // 4px
  --space-xs: calc(0.5 * var(--space-unit)); // 8px
  --space-sm: calc(0.75 * var(--space-unit)); // 12px
  --space-md: calc(1.25 * var(--space-unit)); // 20px
  --space-lg: calc(2 * var(--space-unit)); // 32px
  --space-xl: calc(3.25 * var(--space-unit)); // 52px
  --space-xxl: calc(5.25 * var(--space-unit)); // 84px
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--light);
}

div#cart_drawer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
  & > * {
    pointer-events: all;
  }
}

main {
  padding-top: 3.4375rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.material-icons.md-18 {
  font-size: 1.125rem;
}
.material-icons.md-24 {
  font-size: 1.5rem;
}
.material-icons.md-36 {
  font-size: 2.25rem;
}
.material-icons.md-48 {
  font-size: 3rem;
}
