/* Helper Classes */
.wrapper {
  max-width: 75rem;
  width: 100%;
  margin-inline: auto !important;
}

.not_clicable {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
